* {
  margin: 0;
  padding: 0;
  background-color: rgb(183, 225, 228);
}

.card {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 20px;
  box-shadow: 5px 5px 15px 8px rgb(65, 63, 63);
}

.card-title, .card-subtitle, .card-section {
  background-color: rgb(255, 255, 255);
}

.card-title {
  font-size: 22px;
  padding: 5px;
  margin-left: 3%;
}

.card-subtitle {
  font-size: 16px;
  padding: 5px;
  margin-left: 3%;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
}

